# Dados locais
Medidores - 2026.xlsx
Medidores-2026.xlsx
logo.ico

# Cache do Python
__pycache__/
*.py[cod]

# Ambientes virtuais
.venv/
venv/
env/

# Build / empacotamento
build/
dist/

# Arquivos do sistema / IDE
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db